* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.add-task {
    display: flex;
    gap: 10px
}

input {
    flex: 1;
    padding: 8px;
}

#addBtn {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #15ae2c;
    color:#fff;
    border-radius: 5px;
    border: none;
}

#addBtn:hover {
    opacity: 0.8;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn {
    background-color: #e63946;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 15px;
}

.delete-btn:hover {
  opacity: 0.8;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
}

.task-buttons button {
  min-width: 80px;
  height: 32px;
}

.edit-btn {
  background-color: #f9cd1c;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-left: 15px;
}

.edit-btn:hover {
  opacity: 0.8;
}

.task-buttons {
    display: flex;
    gap: 8px;
}

.task-text {
  flex: 1;
}

footer {
    text-align: center;
    padding: 15px 0;
    color: #888;
}