* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
}

.add-task {
    display: flex;
    gap: 10px
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #15ae2c;
    color:#fff;
    border-radius: 5px;
    border: none;
}

li {
    margin-top: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}